
.container{
    border: 1px solid black;
    padding-left: 0 !important;
    padding-right: 0 !important;
}

.flex-box-container-1, .flex-box-container-2{
    display: flex;
    border: 1px solid black;
    padding: 10px;
    flex-wrap: wrap;
    justify-content: space-around;
}

.flex-box-container-1 div{
    padding: 10px;
}

.flex-box-container-1 img{
    width: 300px;
    height: 150px;
    margin: 15px;
    box-shadow: 0px 10px 50px rgba(0,0,0,0.7);
}

.flex-box-container-2 img{
    width: 150px;
    height: 150px;
    margin: 15px;
}

.flex-box-container-2 img:hover{
    box-shadow: 0px 10px 50px rgba(37,50,233,0.7);
}

#humanChoice{
    box-shadow: 0px 10px 50px rgba(37,50,233,0.7);
}

#botChoice{
    box-shadow: 0px 10px 50px rgba(243,38,24,0.7);
}

.row-1, .row-2{
    background-image: url('https://media.istockphoto.com/vectors/vector-realistic-isolated-green-poker-table-for-decoration-vector-id1299608766?k=20&m=1299608766&s=612x612&w=0&h=ZwlBIc1B5noT2uVZG9yighu1FLc5NoeWrk3KloKsdKM=');
    color: #ffffff;
}

.row-1 div{
    border: 1px solid black;
    padding: 10px;
    flex:1;
    text-align: center;
    height: 350px;
}

.row-1 img{
    width: 25%;
    padding: 10px;
}