
.container{
    border: 1px solid black;
    padding-left: 0 !important;
    padding-right: 0 !important;
}

.flex-box-container-1{
    display: flex;
    border: 1px solid black;
    padding: 10px;
    flex-wrap: wrap;
    justify-content: space-around;
}

.flex-box-container-1 div{
    display: flex;
    padding: 10px;
}

.flex-box-container-1 img{
    width: 300px;
    height: 150px;
    margin: 15px;
    box-shadow: 0px 10px 50px rgba(0,0,0,0.7);
}